
# ------------------------------------------------------------------------------
#   Application
# ------------------------------------------------------------------------------

APP_ENV=dev
APP_DEBUG=1
APP_KEY=IN_PHP_WE_TRUST

# ------------------------------------------------------------------------------
#   Database Options
# ------------------------------------------------------------------------------

# Path to the SQLite database file.
#
# May contain Symfony container parameters (they are expanded by the
# "resolve" env processor), for example "%kernel.project_dir%".
DB_PATH=%kernel.project_dir%/var/data.sqlite
