.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-comment,
.hljs-quote {
  color: $color-silver;
  font-style: italic;
  text-shadow: 0 0 2px rgba($color-silver, .2);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-title,
.hljs-name {
  color: $color-main;
}

.hljs-variable,
.hljs-template-variable {
  color: $color-text;
}

.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp {
  color: #badf8f;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-meta,
.hljs-number,
.hljs-link {
  color: #b18dd0;
  font-weight: bold;
  font-style: italic;
}

.hljs-title {
  color: #b57cf2;
}

.hljs-doctag,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name {
  color: #ceb870;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-subst,
.hljs-attribute,
.hljs-selector-id,
.hljs-selector-class {
  color: #d9a910;
  font-weight: bold;
}

.hljs-addition {
  background-color: #517c51;
}

.hljs-deletion {
  background-color: #ec3515;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
