
.header {
  @include full-section();
  height: 112px;
  margin-bottom: -112px;
  line-height: 64px;
  padding: 24px 0;
  box-sizing: border-box;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: rgba($color-main, 0);
  transition: all .1s ease, background .9s ease .1s;

  & > .container {
    display: flex;
  }

  .logo {
    margin: 8px;
    display: block;
    height: 48px;
    width: 48px;
    background: url(../../img/logo.png) center center no-repeat;
    background-size: 48px 48px;
    transition: transform .1s ease;
    &:after {
      display: none;
    }
    h1 {
      display: none;
    }
  }

  .menu {
    display: flex;
    font-weight: bold;
    color: #fff;
    height: 36px;
    line-height: 36px;
    margin: 14px 0 14px auto;
    z-index: 9;

    a {
      color: #fff;
      margin-left: 20px;
      position: relative;
      padding: 0 20px;
      border-radius: 2px;
      overflow: hidden;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: 50%;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        box-shadow: 0 0 2px 0 rgba(#fff, 0);
        transition: box-shadow .1s ease;
      }

      &:hover {
        &:before {
          box-shadow: 0 0 0 60px rgba(#fff, .1);
          transition: box-shadow .5s ease;
        }
        &:after {
          box-shadow: 0 0 0 60px rgba(#fff, .2);
          transition: box-shadow 1s ease .2s;
        }
      }

      &.active {
        background: rgba($color-white, .9);
        color: $color-main;
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  &.sticky {
    background-color: $color-main;
    padding: 0;
    height: 64px;
    margin-bottom: -64px;
    transition: all .3s ease, background .2s ease .1s;


    .logo {
      transform: scale(.9);
      transition: transform .1s ease;
    }
  }

  &-docs {
    & > .container {
      justify-content: left;
      margin: 0;

      .menu {
        margin: 14px 0 14px 30px;
      }
    }
  }
}
