{% extends "base.html.twig" %}

{% block title %}{% apply spaceless %}
    {% if page.title is defined %}
        {{ page.title }}
    {% else %}
        Not Found
    {% endif %}
{% endapply %}{% endblock %}

{% block content %}
    <main class="documentation">
        <aside class="documentation-menu" data-vm="MenuViewModel">
            <section class="documentation-menu-sticky">
                <div class="documentation-menu-nav">
                    <a href="/" class="documentation-menu-title documentation-menu-home">Home</a>
                </div>
                <div class="documentation-search">
                    {% include "components/search.html.twig" %}
                </div>
                <div class="documentation-menu-nav">
                    {% include "components/menu.html.twig" with {menu: menu} %}
                </div>
            </section>
        </aside>

        <section class="documentation-content">
            {% include "partials/header.html.twig" with {'page': 'docs'} %}

            <article class="documentation-content-text" data-vm="ContentViewModel">
                {% if page %}
                    {{ page.content | raw }}
                {% else %}
                    <h1 class="not-found">Page Not Found</h1>
                {% endif %}
            </article>

            {% include "partials/footer.html.twig" %}
        </section>
    </main>
{% endblock %}
