{% extends "base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <main class="documentation">
        <aside class="documentation-menu" data-vm="MenuViewModel">
            <section class="documentation-menu-sticky">
                <div class="documentation-menu-nav">
                    <a href="/" class="documentation-menu-title documentation-menu-home">Home</a>
                </div>
                <div class="documentation-search">
                    {% include "components/search.html.twig" %}
                </div>
                <div class="documentation-menu-nav">
                    {% include "components/menu.html.twig" with {menu: menu} %}
                </div>
            </section>
        </aside>

        <section class="documentation-content">
            {% include "partials/header.html.twig" with {'page': 'docs'} %}

            <article class="documentation-content-text">
                {{ page.content | raw }}
            </article>

            {% include "partials/footer.html.twig" %}
        </section>
    </main>
{% endblock %}
